body{
    background-color: black;
}
#clear{
    width: 170px;
}

.formstyle{
    width: 180px;
    height: 200px;
    margin-left: 250px;
    margin-top: 50px;
    border: 2px solid blue;
}

input{
    width: 50px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: darkgray;
    color: whitesmoke;
}
#text{
    width: 170px;
    margin-top: 8px;
}
h1{
    text-align: center;
    color: aliceblue;
}